<div class="container">
	<h1> Post Creation</h1>
</div>
<div growl></div>

<div class="container">
	<div class="row">
		<div class='col-md-2'>
			<button type="button" class="btn btn-default btn" ng-click="openModalTitle()">
				Title
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
			</button>
		</div>
		<script type="text/ng-template" id="titleModal">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Edit Title</h4>
			</div>
			<div class="modal-body">
				Write the title of the post:
				<input type="text" ng-model="a" />
				{{post.tmpTitle}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" ng-click='cancel()'>Close</button>
				<button class="btn btn-primary" ng-click='ok()'> Save </button>
			</div>
		</script>
		<div class="col-md-10">
			<div class="well">
				<p> 
					{{post.title}}
				</p>
			</div>
		</div>
	</div>							
	<div class="row">
		<div class='col-md-2'>
			<button type="button" class="btn btn-default btn" ng-click="openModalTale()">
				Tale
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
			</button>
		</div>
		<script type="text/ng-template" id="taleModal">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Edit Title</h4>
			</div>
			<div class="modal-body">
				Write the title of the post:
				<input type="text" ng-model="a" />
				{{post.tmpTitle}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" ng-click='cancel()'>Close</button>
				<button class="btn btn-primary" ng-click='ok()'> Save </button>
			</div>
		</script>


		<div class="col-md-10">
			<div class="well">
				<p> 
					{{tale}}
				</p>
			</div>
		</div>	
	</div>

	<br>
	<br>				
	Photos

	<div class="row">
		<div ng-repeat="x in post.photos">
			<div class="col-sm-6 col-md-3">
				{{ x.Name }}
				<div class="thumbnail">
					<img ng-src= "{{ x.URL }}" alt="..." >
					<div class="caption">
						<p>
							<a class="btn btn-primary	" role="button" ng-click  = "deletePhoto(x)">Delete</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new photo
	</button>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add new photo</h4>
				</div>
				<div class="modal-body">
					Insert the photo link here:
					<input type="text" ng-model="photo_link" name="text" />
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click='addPhoto(photo_link)'>Add photo</button>
				</div>
			</div>
		</div>
	</div>
</div>	