<h1> list of available activities</h1>

<div class="panel panel-default">
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>
          <span class="glyphicon glyphicon-file"></span>
          dati che identificano l'activity come il luogo la data e i parteciparti
        </td>
        <td class="text-right text-nowrap">
          <a href="#/create_post">
            <button class="btn btn-xs btn-info">Create Post</button>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="glyphicon glyphicon-file"></span>
          dati che identificano l'activity come il luogo la data e i parteciparti
        </td>
        <td class="text-right text-nowrap">
          <a href="#/create_post">
            <button class="btn btn-xs btn-info">Create Post</button>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="glyphicon glyphicon-file"></span>
          dati che identificano l'activity come il luogo la data e i parteciparti
        </td>
        <td class="text-right text-nowrap">
          <a href="#/create_post">
            <button class="btn btn-xs btn-info">Create Post</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>